/*https://www.youtube.com/watch?v=sXS2lX7XdOs&list=PLi5N5AdsklLbrs_7GAOAmmgnbKT042-U9 
    on designing css
*/
body {
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: azure;
}


#wrap{
    background-color: darkgrey;
    width: 1100px;
    padding-bottom: 20px;
    margin: auto;
    overflow: hidden; 
}


#banner {
    margin-bottom: -20px;   
}


/*https://www.youtube.com/watch?v=3Z2JthCwhSU for the navigation */
#navs{
    height: 41px;
    background: linear-gradient(to top, azure, #000000);
    padding-left:300px;
}

#navs ul{
    padding: 0px;
    list-style: none;
}

#navs ul li{
   float: left;
    text-align: center;
    width: 120px;
    margin: 1px;
    height: 57px;
}

#navs ul li a{
    color: white;
    text-decoration: none;
    font-family: Verdana;
    background-color:darkgray;
    display:  block;
    padding: 10px;
    
}

#navs ul li a:hover{
    background: #2e2f26;
    color: black;
}



#content{
    padding: 20px;
    min-height: 400px;
}

#footer {
    padding-top:5px;
    background-color: white;
    text-align: center;
    width: 1100px;
    padding-bottom: 20px;
    margin: auto;

    
}

#footer p {
    color:black; 
    padding-top:2px;
    padding-bottom:2px;
    font:12px "verdana";   
    
}

#footer a {
    color:blue;
}

#footer a:link , #footer a:visited, #footer a:active{
    display: inline-block;
    color: darkslategrey;
    text-decoration: none;
}

#footer a:hover{
    color: darkred;
}

